

NET "FPGA_CLK" LOC = M21;
NET "FPGA_RESET" LOC = AE24;
NET "UI_LED0" LOC = N24;
NET "UI_LED1" LOC = N23;
NET "UI_LED2" LOC = M24;
NET "UI_LED3" LOC = L24;
NET "UI_LED4" LOC = L23;
NET "UI_LED5" LOC = K24;
NET "UI_LED6" LOC = H24;
NET "UI_LED7" LOC = D24;

NET "UI_SW0" LOC = W19;
NET "UI_SW1" LOC = Y24;
NET "UI_SW2" LOC = K19;
NET "UI_SW3" LOC = V24;

# PlanAhead Generated physical constraints 

#NET "UI_BT0" LOC = AC23;
#NET "UI_BT1" LOC = AA24;
